<%- include ../partials/header.ejs %>

<h1>Organize a new volunteer event</h1>




       <form action="/events" method="POST">
    <p>Name of the event: <input type="text" name="title" /></p>
    <p>Where will it be hosted? <input type="text" name="location" /></p>
    <p>How many people are needed? <input type="text" name="numberOfPeople" /></p>
    <p>Describe the event: <textarea type="text" name="description"></textarea></p>
    <p>Date it will be hosted: <input type="date" id="meeting-date"
       name="date" value="2018-06-12T7:30pm"
       min="2019-04-30T00:00" max="2026-06-14T00:00"></p>
       <p>Time it will be hosted: <input type="time" id="meeting-time"
       name="date" value="2018-06-12T7:30pm"
       min="2019-04-30T00:00" max="2026-06-14T00:00"></p>
       <p>Image URL(optional) <input type="text" name="img" /></p>
      <button type="submit">Create Event</button>
  </form>   

<nav>
  <ul>
     <li>
        <a href="/events">See All Events</a>

      </li> 

      <li>
        <a href="/users">Back to Home Page</a>

      </li> 
  </ul>
</nav>
  
<%- include ../partials/footer.ejs %>

