<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
=======
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Londrina+Shadow|Neucha" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4	.3.1/css/bootstrap.css"> -->

	<title>Placeholder for Header</title>
>>>>>>> e3f00a0699262f3844f1da00bfc3126f0696e9da
</head>
<body>
	<a href="/users">Home</a>


<<<<<<< HEAD
=======
    <nav></nav>



>>>>>>> e3f00a0699262f3844f1da00bfc3126f0696e9da
