<%- include ./partials/header.ejs %>
	<h2>🌱✨ Better World ✨🌱</h2>

<h1>Created by:</h1>
<div id="aboutLinkContainer">
	<a href="https://www.linkedin.com/in/ulukbek-luka-nusubaliev-9052bb173/">Ulukbek (Luka) Nusubaliev</a>
	<p>and</p>
	<a href="https://www.linkedin.com/in/lana-polyakova/">Svetlana (Lana) Polyakova</a><br>

	</div>
<div id="aboutImgContainer">

		<img src="https://media.licdn.com/dms/image/C4E03AQGCx4FRhdCcGA/profile-displayphoto-shrink_800_800/0?e=1562198400&v=beta&t=ew7_7hbVyLboyoXLMZDaxjMaf84Sj9XXTEDdBj_oAs0" id="luka">
	
		<img src="https://rover-com.imgix.net/images/people/ag2b3Jrg/katwayqfni/original.jpg?h=1024&ixlib=python-1.2.0&w=1024" id="lana">
</div>
<p></p>
<p></p>
<h1>What is "Better World"?</h1>

<p> Do you ever find yourself feeling hopeless in the face of so many devastating events happening in the world?</p> 
<p>Do you believe in love, kindness, compassion, empathy and humility?</p>
<p>Do you really want to help make this world a better place but don't really know where to start and don't always have the time or the ability to travel to the places that would benefit from your help?</p>
<p>Are we asking you too many questions? :)</p>
<p>Have no fear! Start small! Because you have to start somewhere, and we are here to help you help :) Better World is a website that allows you to create your own events to help others. Don't wait for non-profit organizations to host an event - be the one taking action, create your own volunteering opportunity! </p>
<p>🌸💕Reveal the beauty of the human soul - one small or big step at a time 🌸💕</p>

<a href="/users">Start your journey here</a><br><br><br><br>

<%- include ./partials/footer.ejs -%>