<%- include ./partials/header.ejs %>

<h1>Project Better World </br>Welcome!</h1>

<p>What would you like to do?</p>


<nav>
  <ul>
    <li>
      <a href="">Learn about the project</a>
    </li>

    <li>
      <a href="/users">Go to Home Page</a>
    </li>

  </ul>

</nav>


<%- include ./partials/footer.ejs %>