<%- include ./partials/header.ejs %>

<h2>Project Better World</h2>

<p id="quote">"Whoever gives nothing, has nothing. The greatest misfortune is not to be unloved, but not to love." <br>Albert Camus </p>


<nav>
  <ul>
    <li>
      <a href="/about/">Learn about the project</a>
    </li>

    <li>
      <a href="/users">Go to Home Page</a>
    </li>

  </ul>

</nav>


<%- include ./partials/footer.ejs %>