<%- include ../partials/header.ejs %>

	<h1>Log in here</h1>

<form action="/users/login" method="POST">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="password" name="password" placeholder="password"></p>

  <button>Login</button>
</form>

<small>Don't have an account? <a href="/users/register">Sign up here!</a></small>

<p><a href="/users">Back to Home Page</a></p>





<%- include ../partials/footer.ejs %>